jupyter
jupyterlab
jupyterlab-rise
jupyterquiz
jupyter_nbextensions_configurator
#jupyter_contrib_nbextensions
#ipylab
ipywidgets
notebook
nbconvert
nbformat
ipykernel
ipympl
pytest
voila
pyQuirk
numpy
matplotlib
pandas
qiskit
qiskit-aer
qiskit-ibm-runtime
qsharp
cirq
nbval
chromium
playwright
