jupyter
#jupyterlab
#jupyterlab_code_formatter
#jupyterlab-git
#jupyterlab-spreadsheet-editor
#jupyterlab-drawio
jupyterquiz
ipylab
ipympl
pytest 
voila
matplotlib==3.8.4
ipykernel
qsharp
qsharp-widgets
azure-quantum
#qdk
pyQuirk
qiskit

